extends ../template/layout.pug
block css 
  link(rel='stylesheet' href='/css/acc.css')
block content 
  if errors   
    .tb
      each err in errors
        .tbC
          .alert.alert-danger= err
  else if success   
    .tb
      each succ in success
        .tbC
          .alert.alert-success= succ
  .main
    form#form-1.form(action='/user/loginAcc' method='POST')
      h3.heading Đăng nhập
      p.desc BEAUTY SALON - Nơi vẻ đẹp bắt đầu
      .spacer
      .form-group
        label.form-label(for='account') Tài khoản
        input#account.form-control(name='account' type='text' placeholder='VD: long123' value=values?values.account:"" rules='required|min:6|max:12' inputNoSpace)
        span.form-message
      .form-group
        label.form-label(for='password') Mật khẩu
        input#password.form-control(name='password' type='password' placeholder='Nhập mật khẩu' value=values?values.password:"" rules='required|min:6|max:12' inputNoSpace)
        span.form-message
      button.form-submit.btn.btn-primary(type='submit') Đăng nhập
      a(href='#' style='margin: 13px;display: block;text-decoration: none;font-size:13px;')  Quên mật khẩu ?
      hr
      //- a.form-submit(href='/user/createAcc' style='text-decoration: none;width: 55%;background-color: #42b72a;display: inline-block; margin-top: 16px;') Tạo tài khoản mới
      button.form-submit.btn.btn-primary.my-3.w-100(type='button' data-toggle='modal' data-target='#myModalTKH' style='height: 44px;background-color: #42b72a' ) Đăng kí
  #myModalTKH.modal
    .modal-dialog.bg-light
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title Nhập số điện thoại đăng kí:
          button.close(type='button' data-dismiss='modal') &times;
        // Modal body
        .modal-body
          form#form-2(action='/user/createAcc' method='get')
            .form-group
              label(for='sdt') Số điện thoại:
              input#sdt.form-control(type='text' name='sdt' rules='required|phone')
              span.form-message
            button.btn.btn-primary.w-100(type='submit') Xác nhận
  script(src='/js/validator.js')
  script.
    Validator('#form-1',{  }
    )
    Validator('#form-2',{}
    )
