extends ../template/layoutStaff.pug
block css 
  link(rel='stylesheet' href='/css/acc.css')
block content 
  .main(style='min-height: 75vh')
    form#form-1.form(action='' method='POST')
      h3.heading Đăng kí khách hàng #{sdt}
      p.desc BEAUTY SALON - Nơi vẻ đẹp bắt đầu
      .spacer
      .form-group
        label.form-label(for='fullname') Tên đầy đủ
        input#fullname.form-control(name='fullname' type='text' placeholder='VD: Long Nguyen' rules='required|childMax:7|max:30' )
        span.form-message
      .form-group
        label.form-label(for='sdt') Số điện thoại
        input#sdt.form-control(name='sdt' type='text' placeholder='VD: 0398.291.602' rules='required|size:10' value=sdt disabled )
        span.form-message
      .form-group
        label.form-label(for='gender') Giới tính:
        select#gender(name='gender')
          option(value='Nam' selected) Nam
          option(value='Nữ') Nữ
          option(value='Khác') Khác
      button.form-submit.btn.btn-primary(type='submit') Đăng ký
  script(src='/js/validator.js')
  script.
    Validator('#form-1',{
    onSubmit:function(data){
    console.log('CALL API...')
    console.log(data)
    }
    })
