doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    // Latest compiled and minified CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    block css
  body
    .container 
      if errors   
        .tb
            each err in errors
                .tbC
                    .alert.alert-danger= err
      else if success   
        .tb
            each succ in success
                .tbC
                    .alert.alert-success= succ
      
    div
      a.btn.btn-primary.my-5(href='/staff/work' style='position:fixed;top:-18px;left:30px') Trở lại trang chủ
    block content
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    // Popper JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script.
      let toast=document.querySelector(".tb");
      let toastChild=document.querySelector(".tbC");
      setTimeout(function() {
      toast.removeChild(toastChild)
      },3000);
